@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  background: #181f2a;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  letter-spacing: 0.01em;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #232b39;
}

::-webkit-scrollbar-thumb {
  background: #2979ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1565c0;
}
